{% extends 'KasiaPanBundle::bars.html.twig' %}

{% block header %}
	<h1>PAN TADEUSZ</h1>
{% endblock %}

{% block content %}
	<p>Pan Tadeusz, czyli Ostatni zajazd na Litwie – poemat Adama Mickiewicza wydany w dwóch tomach w 1834 w Paryżu przez Aleksandra Jełowickiego.</p>
	<p>Ta epopeja narodowa z elementami gawędy szlacheckiej powstała w latach 1832-1834 w Paryżu. Składa się z dwunastu ksiąg pisanych wierszem, trzynastozgłoskowym aleksandrynem polskim.</p>
	<p>Rękopis Pana Tadeusza przechowywany jest w Zakładzie Narodowym im. Ossolińskich we Wrocławiu, w szkatule z hebanu i kości słoniowej zamówionej przez Stanisława Tarnowskiego i wykonanej w 1873 przez Józefa Brzostowskiego.</p>
	<p>Pierwsze wydanie Pana Tadeusza na ziemiach polskich ukazało się w Toruniu w 1858 r. w drukarni miejskiej dzierżawionej przez Ernsta Lambecka. Czas akcji: pięć dni z roku 1811 i dwa dni z roku 1812.</p>
{% endblock %}

		
	