<!DOCTYPE html>
<html>
<head>
	<title>Hello World!</title>
	<meta charset="Utf-8">
</head>
<body>
	<header>
		<h1>Hello {{firstname}} {{lastname}}!!!</h1>
	</header>
	<footer>
		<p>(c) Kataryna Wójcik</p>
	</footer>

</body>
</html>


