<!DOCTYPE html>
<html>
<head>
	<title>PAN TADEUSZ</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/kasiapan/css/bootstrap.css')}}">
</head>
<body>
	<div class="container">
		<header class="row">
			{% block header %}
			{% endblock %}
		</header>
		<div class="row">
			<div class="col-md-4">
				{% block menu %}
				{% endblock %}
			</div>
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	
		<footer class="row">
			<p>(c) Katarzyna Wójcik</p>
		</footer>
	</div>
</body>
</html>
